

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Slab&family=Pacifico&family=Poppins:ital,wght@0,400;1,300&display=swap')

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap"; 
// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    
    display: block;
    position: absolute;
    right: 0;
    top: 3px;
  }
  
 
  /* Style the active link (or home/logo) */
  .active {
    background-color: #eaefbd;
    color: #f7ce5b;
    font-family: "Lobster", sans-serif;
    font-style: normal;
    font-size: 2em;
    padding-left: 1em;
    height: 2em;
    padding-top: 0.5em;
    border-bottom: 2px solid #ffc300;
    
  }

  .menu-section {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    font-family: "Angkor", serif;
    font-weight: 600;
    font-style: normal;
   
  }

  .menu-img-items {
    width: 200px;
    height: auto;
    padding-left: 1em; 
    border-radius: 10px;
  }

  .fork-spoon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em ;
    
  }

  .logo-intro {
    float: left;
  }

  .food-menu p {
    font-size: 15px;
    color: grey;
    font-weight: 600;
    padding-left: 1em;
  }

  .food-menu h2 {
    padding-left: 1em;
    padding-top: 1em;
  }

  .front-img {
    height: 250px; 
    width: 100%; 
    overflow: hidden;
    object-fit: cover;
  }