body {
  background-color: rgba(219, 236, 215, 0.489);
}

  /* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(176, 245, 133); /* Black fallback color */
  background-color: rgba(88, 102, 91, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff9f9;
  text-decoration: underline;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
 
  .menu-section {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    font-family: "Angkor", serif;
    font-weight: 600;
    font-style: normal;
   
  }

  .menu-img-items {
    width: 200px;
    height: auto;
    padding-left: 1em; 
    padding-top: 1em;
    margin-bottom: 1em;
    border-radius: 25% 10%;
   
  }

  .fork-spoon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em ;
    
  }

  .logo-intro {
    float: left;
  }

  .food-menu p {
    font-size: 15px;
    color: grey;
    font-weight: 600;
    padding-left: 1em;
  }

  .food-menu h2 {
    padding-left: 1em;
    padding-top: 1em;
  }

  .front-img {
    height: 250px; 
    width: 100%; 
    overflow: hidden;
    object-fit: cover;
  }

  .row  {
     border-radius: 10px;
   
    margin: 2em;
    max-width: 900px;
  }

  .row p {
    color: #659300;
  }

  .row h5 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: "Hind Madurai", sans-serif;
    font-size: 1.5em;
    font-style: normal;
  }

  .title {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(73, 103, 69);
    margin: 0.5rem;
  }


  .logo {
    object-fit:scale-down;
    margin: 0.5rem;
  
  }

  .hamburger-icn {
     font-size: 2.5rem;
     float:right;
     cursor:pointer;
     color:rgb(56, 68, 59);
     position: relative;
     bottom: 3.8rem;
     right: 2rem;
  }

  h1 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: "Hind Madurai", sans-serif;
    font-size: 1.5em;
    font-style: normal;
    margin-left: 2rem;
  }

  .form-select {
    max-width: 23rem;
    border: white;
    margin: 3.5rem;
  }



  .email-input {
    margin: 1rem;
    margin-left: 2rem;
  }

  
  .form-options {
    margin: 1rem;
  }

  .comment-sct {
    margin: 1rem;
    margin-left: 2rem;
  }

  .date-input {
    margin: 1rem;
    border: white;
    padding: 0.5rem;
    margin-left: 2rem;
  }
  
  .form-options {
    margin-left: 2rem;
  }
  